.section {
    padding: calc(2rem + var(--header-height)) 0;
}

.section:not(#home) {
    background-color: var(--body-color);
}

.section .title {
    margin-bottom: 1rem;
}

.section .subtitle {
    margin-bottom: 1rem;
}

.container {
    margin: 0 1.5rem;
    width: calc(100% - 3rem);
}

.grid {
    display: grid;
    gap: 2rem;
}

@media (min-width: 992px) {
    .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }
}