.section {
    padding: calc(4rem + var(--header-height)) 0;
}

.section:not(#home) {
    background-color: var(--body-color);
    opacity: 0;
    display: none;
}

.section:not(#home).show {
    opacity: 1;
    display: block;
    transition: opacity 1s ease .7s;
}

.section .title {
    margin-bottom: 1rem;
}

.container {
    margin: 0 1.5rem;
    width: calc(100% - 3rem);
}

.grid {
    display: grid;
    gap: 2rem;
}