#home {
    width: 100vw;
    height: 100vh;
    letter-spacing: .2rem;
    position: relative;
}

#home .container {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#home .image {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#home .image img {
    filter: drop-shadow(0 20px 25px black);
}

#home .text {
    width: 100%;
    height: 3rem;
    text-align: center;
    letter-spacing: normal;
    font-weight: normal;
}

#home .text > *{
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease .7s;
}

#home .text > *:not(.loading-msg).show {
    opacity: 1;
    visibility: visible;
}

#home .text .loading-msg {   
    opacity: 1;
    visibility: visible;
    letter-spacing: .5rem;
    animation: piscar 1.5s linear infinite;
    font-weight: 500;
}

@keyframes piscar {
    50% {
        opacity: 0;
    }
}

#home .welcome-msg {
    font-size: 1.5rem;
}

#home .my-name {
    font-weight: 400;
}

#home .my-name span{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    display: block;
}

.go-to-next-section {
    color: var(--text-color);
    font-size: 2rem;
    outline: none;
    text-decoration: none;
    width: 3rem;
    height: 4rem;
    
    /* Alinha as duas setas entre si */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Alinha as duas setas no centro da página */
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);

    /* Efeito FadeIn */
    opacity: 0;
    visibility: hidden; /* Remove eventos de mouse */
    transition: bottom 1s ease .7s, opacity 1s ease .7s;
}

.go-to-next-section.show {
    opacity: 1;
    visibility: visible;
    bottom: 1rem;
}

/* Efeito Zoom On */
.go-to-next-section:hover {
    transform: scale(1.2) translateX(-42%)
}

.go-to-next-section * {
    pointer-events: none;
}

/* Estiliza as setas */

.go-to-next-section :first-child {
    font-size: 2.5rem;
    transform: translateY(25%);
}

.go-to-next-section :nth-child(2) {
    font-size: 3.5rem;
    transform: translateY(-25%);
}