#contact .container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#contact .infos ul li {
    display: flex;
    align-items: center;
    font-weight: 500;
}

#contact .infos ul li i[class|="icon"]{
    font-size: 1.5rem;
    color: var(--base-color);
    margin-right: 1rem;
}

@media (min-width: 768px) {
    #contact .container {
        text-align: center;
        align-items: center;
    }
}
