@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    background-attachment: fixed;

    color: var(--text-color);
    font-family: var(--body-font);
}

main {
    width: 100%;

    transition: opacity 1s ease .7s;
}

/* Efeito fadeIn ao carregar a página */
main.show {
    opacity: 1 !important;
    visibility: visible !important;
}

/* Estilizando links */
a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
}

a:hover {
    font-weight: 900;
}
/* FIM - Estilizando links */

.title {
    font: 700 var(--title-font-size) var(--title-font);
}

.subtitle {
    font: 400 var(--subtitle-font-size) var(--body-font);
}

.divider {
    border: 2px solid black;
}

/* Estilizando Botões */
.button {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    background: var(--base-color);
    padding: 1rem .5rem;
    position: relative;
}

.button::before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    transition: width .5s ease;
    /* Usado para cobrir todo elemento quando width for aplicado */
    top: 0;
    left: 0;
    bottom: 0;
}

.button:hover {
    font-weight: 700;
}

.button:hover::before,
.button:active::before {
    background: var(--base-color-alt);
    width: 100%;
}

.button span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button i[class*="icon"] {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.button > * {
    position: relative;
    z-index: 5;
}
/* FIM - Estilizando Botões */

.back-to-top {
    clip-path: circle();
    background: var(--base-color-alt);
    color: var(--text-color);
    font-size: 2rem;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    padding: .5rem;
    outline: none;
    text-decoration: none;
    visibility: hidden;
    z-index: 10;

    transform: translateY(200%);
    transition: .3s;
}

.back-to-top.show {
    bottom: 1.5rem;
    visibility: visible;
    transform: translateY(0);
}

/* ### Estilizando efeito de flip ### */


/* define a velocidade da animação */
.flipper {
    position: relative;
}

/* Vira os container frente e verso quando o mouse passa em cima */
.flipper:hover .back, .flipper.flip .back { transform: rotateY(0deg); }
.flipper:hover .front, .flipper.flip .front { transform: rotateY(180deg); }

.flipper, .front, .back {
    width: 100%;
    height: 100%;
}

.front, .back {
    /* esconde o verso durante a animação */
    backface-visibility: hidden;
    transition: .6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

/* Frente posicionada sobre o fundo */
.front {
    z-index: 2;
    transform: rotateY(0);
}

/* verso inicialmente escondido */
.back {
    transform: rotateY(-180deg);
}

/* ### FIM - Estilizando efeito de flip ### */