#header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    background: var(--body-color);
    box-shadow: 0 10px 20px black;
    z-index: 20;

    transition: opacity 1s ease .7s;
}

/* Efeito fadeIn ao carregar a página */
#header.show {
    opacity: 1 !important;
    visibility: visible !important;
}

#header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header nav .my-logo {
    height: 70%;
}

#header nav .my-logo img{
    width: auto;
    height: 100%;
}

/* Ícone do Menu */
#header nav .toggle,
#header nav .toggle:active {
    outline: none;
    text-decoration: none;
}

/* Icone de fechar o menu mobile */
#header .btn-close-menu {
    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
    transition: top .2s;
    visibility: hidden;
}

#header nav .toggle {
    font-size: 2rem;
    color: var(--text-color);
}

/* Lista de menus */
#header nav .menu ul li {
    text-align: center;
}

#header nav .menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
    transition: color .3s;
}

#header nav .menu ul li a:hover,
#header nav .menu ul li a.active {
    color: var(--base-color);
}

/* Criando a barra de "sublinhado" */
#header nav .menu ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--base-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .2s;
}

#header nav .menu ul li a:hover::after,
#header nav .menu ul li a.active::after {
    width: 100%;
}

/* Esconde o menu mobile */
#header nav .menu {
    background-color: var(--body-color);
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: -100vh;
}

/*
Exibe o menu aberto no mobile.
*/
#header nav .menu.show {
    opacity: 1;
    visibility: visible;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
}


#header nav .menu.show .btn-close-menu {
    visibility: visible;
    top: 1rem;
}

@media (min-width: 992px) {
    /* Esconde os botões relacionados ao menu mobile */
    #header nav .toggle {
        display: none;
    }

    /* Posiciona o menu no local correto */
    #header nav .menu {
        opacity: 1;
        visibility: visible;
        position: static;
    }

    /* Coloca o menu em linha */
    #header nav .menu ul {
        display: flex;
        gap: 2rem;
    }

    #header nav .menu ul li a.title {
        font: 400 1rem var(--body-font);
        -webkit-font-smoothing: antialiased;
    }

    #header nav .menu ul li a.active {
        font-weight: 700;
    }
}