footer {
    font-size: .8rem;
}

footer.section {
    background: var(--base-color) !important;
    padding: 4rem 0;
} 

footer .grid {
    gap: 1rem;
}

footer .my-logo {
    width: 10rem;
}

footer.section .copyright *{
    margin-bottom: .75rem;
}

@media (min-width: 768px) {
    footer.section .grid {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}

@media (min-width: 992px) {
    footer.section .grid {
        grid-template-columns: 2fr 1fr;
    }
}